<h1>Hello World</h1>
<p>Welcome to my page...</p>
<ul>
  <li>test</li>
</ul>

<h2>Halo <%=nama %></h2>
<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
<p>Data mahasiswa masih kosong</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama : <%=mhs.nama %></li>
  <li>Email :<%=mhs.email %></li>
  <li>NoHp : <%=mhs.noHp %></li>
</ul>
<% })} %>
