<div class="container">
  <div class="row text-center">
    <div class="col">
      <img
        src="./img/pp.jpg"
        class="rounded-circle"
        width="200px"
        alt="Alfathan"
      />
      <!-- File static like image must use middleware -->
      <h1 class="display-4">Alfathan</h1>
      <p class="lead">Student | Freelance</p>
    </div>
  </div>
</div>
